IP_ESCUCHA=0.0.0.0
IP_MEMORIA=0.0.0.0
IP_CPU=0.0.0.0
IP_FILESYSTEM=0.0.0.0
PUERTO_MEMORIA=37537
PUERTO_FILESYSTEM=37539
PUERTO_CPU=37538
PUERTO_ESCUCHA=37540
ALGORITMO_PLANIFICACION=HRRN
ESTIMACION_INICIAL=10000
HRRN_ALFA=0.5
GRADO_MAX_MULTIPROGRAMACION=4
RECURSOS=[DISCO, RECURSO_1]
INSTANCIAS_RECURSOS=[1, 2]